<div class="jumbotron" style="height: 75vh; background-image: url(<%= asset_path @city.photo %>); background-size: cover">
  <h1 class="display-3"><%= @city.name %></h1>
  <p class="lead"><%= @city.description %></p>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <% if @city.posts.length > 0 %>
        <% @city.posts.each do |post| %>
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><%= post.title %></h4>
              <p class="card-text"><%= post.content %></p>
              <%= link_to "Read more", post_path({ city_id: @city.id, post_id: post.id }), class: "btn btn-primary"  %>
            </div>
          </div>
        <% end %>
      <% else %>
        <h2>There are no tips to display.</h2>
      <% end %>
    </div>
    <div class="col-sm-4">
      <% if current_user %>
        <%= form_for @post, url: post_create_path(@city.id) do |f| %>
          <%= f.hidden_field :user_id, :value => current_user.id %>
          <%= f.hidden_field :city_id, :value => @city.id %>
          <div class="form-group">
            <%= label(:post, :title) %>
            <%= f.text_field :title, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= label(:post, :content) %>
            <%= f.text_area :content, class: "form-control" %>
           </div>
          <%= f.submit "Add Post", class: "btn btn-primary" %>
         <% end %>
      <% else %>
        <%= link_to "Login to add post", login_path, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>